run = "python app.py"
modules = ["python-3.11"]

[nix]
packages = ["glibcLocales"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080
